<div class="container">
  <h2>Listado de Libros</h2>

  <hr>

  <div>
    <button class="btn btn-primary" (click)="add()">
      Nuevo Libro
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="search()">
      Buscar Libro
    </button>
  </div>

  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>N&uacute;mero</th>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">A&ntilde;o</th>
        <th scope="col">Genero</th>
        <th scope="col">N&uacute;mero de P&aacute;ginas</th>
        <th scope="col">Editorial</th>
        <th scope="col">Autor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lib of libros; let i=index;">
        <th scope="row">{{i+1}}</th>
        <td>{{lib.id}}</td>
        <td>{{lib.titulo}}</td>
        <td *ngIf="lib.ano != null; else elseBlock">{{lib.ano}}</td>
        <td>{{lib.genero}}</td>
        <td>{{lib.numeroPaginas}}</td>
        <td *ngIf="lib.editorial != null; else elseBlock">{{lib.editorial.nombre}}</td>
        <td>{{lib.autor.nombreCompleto}}</td>
        <ng-template #elseBlock>
          <td scope="col">N.A.</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>