<div class="container">
    <h2>Nuevo Libro</h2>

    <hr>

    <div>
      <a class="btn btn-primary" routerLink="/libros">
        Regresar
      </a>
    </div>

    <br>

    <div class="form-group">
      <label>Titulo</label>
      <input type="text" class="form-control" [(ngModel)]="libroData.titulo" placeholder="Titulo">
    </div>
    <div class="form-group">
      <label>A&ntilde;o</label>
      <input type="text" class="form-control" [(ngModel)]="libroData.ano" placeholder="A&ntilde;o">
    </div>
    <div class="form-group">
      <label>Genero</label>
      <input type="text" class="form-control" [(ngModel)]="libroData.genero" placeholder="Genero">
    </div>
    <div class="form-group">
      <label>N&uacute;mero de p&aacute;ginas</label>
      <input type="text" class="form-control" [(ngModel)]="libroData.numeroPaginas" placeholder="N&uacute;mero de p&aacute;ginas">
    </div>
    <div class="form-group">
      <label>Autor</label>
      <select class="form-control" [(ngModel)]="autorData.id">
        <option [value]="item.id" *ngFor="let item of autores">{{item.nombreCompleto}}</option>
    </select>
    </div>
    <div class="form-group">
      <label>Editorial</label>
      <select class="form-control" [(ngModel)]="editorialData.id">
        <option [value]="item.id" *ngFor="let item of editoriales">{{item.nombre}}</option>
    </select>
    </div>
    
    <button class="btn btn-primary" (click)="addLibro()">Guardar</button>
  </div>