<div class="container">
    <h2>Buscar Libro</h2>

    <hr>

    <div>
        <a class="btn btn-primary" routerLink="/libros">
            Regresar
        </a>
    </div>

    <br>

    <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="searchData.titulo" placeholder="Titulo">
    </div>
    <div class="form-group">
        <label>A&ntilde;o</label>
        <input type="text" class="form-control" [(ngModel)]="searchData.ano" placeholder="A&ntilde;o">
    </div>
    <div class="form-group">
        <label>Autor</label>
        <select class="form-control" [(ngModel)]="searchData.idAutor">
            <option [value]="item.id" *ngFor="let item of autores">{{item.nombreCompleto}}</option>
        </select>
    </div>

    <button class="btn btn-primary" (click)="searchLibro()">Buscar</button>

    <br><br>

    <div class="alert alert-secondary" role="alert" *ngIf="libros.length == 0">
        No hay resultados de busqueda!
    </div>

    <table class="table table-striped" *ngIf="libros.length > 0">
        <thead>
            <tr>
                <th>N&uacute;mero</th>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">A&ntilde;o</th>
                <th scope="col">Genero</th>
                <th scope="col">N&uacute;mero de P&aacute;ginas</th>
                <th scope="col">Editorial</th>
                <th scope="col">Autor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lib of libros; let i=index;">
                <th scope="row">{{i+1}}</th>
                <td>{{lib.id}}</td>
                <td>{{lib.titulo}}</td>
                <td *ngIf="lib.ano != null; else elseBlock">{{lib.ano}}</td>
                <td>{{lib.genero}}</td>
                <td>{{lib.numeroPaginas}}</td>
                <td *ngIf="lib.editorial != null; else elseBlock">{{lib.editorial.nombre}}</td>
                <td>{{lib.autor.nombreCompleto}}</td>
                <ng-template #elseBlock>
                    <td scope="col">N.A.</td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>